body{
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    background: #000;
}

section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #c4dfe6,#c4dfe6,#66a5ad,#07575b,#003b46);
    mix-blend-mode: color;
    pointer-events: none;
}

video{
    object-fit: cover;
}

h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 5em;
    font-family: sans-serif;
    letter-spacing: 0.2em;
}

h1 span {
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}

@keyframes animate {
    0%{
        transform: rotateY(90deg);
        filter: blur(10px);
        opacity: 0;
    }
    100%{
        transform: rotateY(0deg);
        filter: blur(0);
        opacity: 1;
    } 
}

h1 span:nth-child(1)
{
    animation-delay: 1.25s;
}
h1 span:nth-child(2)
{
    animation-delay: 1.75s;
}
h1 span:nth-child(3)
{
    animation-delay: 2.25s;
}
h1 span:nth-child(4)
{
    animation-delay: 2.75s;
}
h1 span:nth-child(5)
{
    animation-delay: 3.25s;
}
h1 span:nth-child(6)
{
    animation-delay: 3.75s;
}
h1 span:nth-child(7)
{
    animation-delay: 4.25s;
}

